# Airbnb Europe
<div style="
    border: 5px solid purple;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

### Libraries Loading
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data wrangling
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [3]:
url = "https://docs.google.com/spreadsheets/d/1ecopK6oyyb4d_7-QLrCr8YlgFrCetHU7-VQfnYej7JY/export?format=xlsx"
dataset = pd.ExcelFile(url, engine='openpyxl')

In [4]:
dataset = pd.concat([dataset.parse(sheet_name).assign(sheet_name = sheet_name) for sheet_name in dataset.sheet_names])
dataset.reset_index(inplace = True)

dataset.sheet_name

0        amsterdam_weekdays
1        amsterdam_weekdays
2        amsterdam_weekdays
3        amsterdam_weekdays
4        amsterdam_weekdays
                ...
51702       vienna_weekends
51703       vienna_weekends
51704       vienna_weekends
51705       vienna_weekends
51706       vienna_weekends
Name: sheet_name, Length: 51707, dtype: object

In [6]:
dataset.head(10)

,index,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name
0,0,0,194.033698,Private room,False,True,2,False,1,0,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,1,1,344.245776,Private room,False,True,4,False,0,0,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,2,2,264.101422,Private room,False,True,2,False,0,1,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,3,3,433.529398,Private room,False,True,4,False,0,1,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,4,4,485.552926,Private room,False,True,2,True,0,0,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays
5,5,5,552.808567,Private room,False,True,3,False,0,0,...,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376,4.87699,52.38966,amsterdam_weekdays
6,6,6,215.124317,Private room,False,True,2,False,0,0,...,1,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251,4.91570,52.38296,amsterdam_weekdays
7,7,7,2771.307384,Entire home/apt,False,False,4,True,0,0,...,3,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219,4.88467,52.38749,amsterdam_weekdays
8,8,8,1001.804420,Entire home/apt,False,False,4,False,0,0,...,2,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686,4.86459,52.40175,amsterdam_weekdays
9,9,9,276.521454,Private room,False,True,2,False,1,0,...,1,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478,4.87600,52.34700,amsterdam_weekdays

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51707 entries, 0 to 51706
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       51707 non-null  int64
 1   Unnamed: 0                  51707 non-null  int64
 2   realSum                     51707 non-null  float64
 3   room_type                   51707 non-null  object
 4   room_shared                 51707 non-null  bool
 5   room_private                51707 non-null  bool
 6   person_capacity             51707 non-null  int64
 7   host_is_superhost           51707 non-null  bool
 8   multi                       51707 non-null  int64
 9   biz                         51707 non-null  int64
 10  cleanliness_rating          51707 non-null  int64
 11  guest_satisfaction_overall  51707 non-null  int64
 12  bedrooms                    51707 non-null  int64
 13  dist                        51707 non-null  float64
 14  metro_dist                  51707 non-null  float64
 15  attr_index                  51707 non-null  float64
 16  attr_index_norm             51707 non-null  float64
 17  rest_index                  51707 non-null  float64
 18  rest_index_norm             51707 non-null  float64
 19  lng                         51707 non-null  float64
 20  lat                         51707 non-null  float64
 21  sheet_name                  51707 non-null  object
dtypes: bool(3), float64(9), int64(8), object(2)
memory usage: 7.6+ MB

In [8]:
# rename name
dataset.rename(columns={'realSum': 'Price'}, inplace=True)
dataset.head()

,index,Unnamed: 0,Price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name
0,0,0,194.033698,Private room,False,True,2,False,1,0,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,1,1,344.245776,Private room,False,True,4,False,0,0,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,2,2,264.101422,Private room,False,True,2,False,0,1,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,3,3,433.529398,Private room,False,True,4,False,0,1,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,4,4,485.552926,Private room,False,True,2,True,0,0,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays

In [9]:
# drop unnamed : 0 column in dataset
dataset = dataset.drop("Unnamed: 0", axis=1)
dataset.head()

,index,Price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name
0,0,194.033698,Private room,False,True,2,False,1,0,10,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,1,344.245776,Private room,False,True,4,False,0,0,8,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,2,264.101422,Private room,False,True,2,False,0,1,9,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,3,433.529398,Private room,False,True,4,False,0,1,9,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,4,485.552926,Private room,False,True,2,True,0,0,10,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays

In [10]:
dataset[['city', 'weekday']] = dataset["sheet_name"].str.split('_', expand = True)

dataset.sample(10)

,index,Price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday
23391,929,148.874621,Private room,False,True,3,False,1,0,9,...,0.354725,366.164361,25.452491,607.922639,10.885362,-0.06754,51.50029,london_weekdays,london,weekdays
4607,2527,191.455956,Entire home/apt,False,False,4,False,0,1,10,...,0.323895,82.407062,3.107089,128.949914,9.682344,23.71755,37.99060,athens_weekdays,athens,weekdays
5745,1012,156.304923,Entire home/apt,False,False,3,False,0,1,10,...,0.177167,105.811474,3.986737,180.322950,2.692932,23.71900,37.98600,athens_weekends,athens,weekends
23740,1278,129.118747,Private room,False,True,2,False,1,0,10,...,3.258337,173.203368,12.039558,338.503865,6.061194,-0.05004,51.46905,london_weekdays,london,weekdays
6946,2213,115.998406,Entire home/apt,False,False,3,False,0,0,8,...,0.722692,53.016305,1.997534,78.123962,1.166699,23.75895,37.99503,athens_weekends,athens,weekends
5563,830,92.564385,Entire home/apt,False,False,2,False,0,0,9,...,0.259467,119.649086,4.508107,198.869564,2.969906,23.71402,37.97967,athens_weekends,athens,weekends
27166,90,786.001552,Entire home/apt,False,False,5,False,0,1,10,...,0.480681,305.352069,21.226213,662.054873,11.849629,-0.18731,51.49132,london_weekends,london,weekends
27104,28,225.546226,Private room,False,True,2,True,1,0,10,...,1.723960,195.693896,13.603446,452.231611,8.094158,-0.16575,51.46292,london_weekends,london,weekends
16935,236,266.885553,Entire home/apt,False,False,3,False,0,0,10,...,0.483088,431.901362,14.258916,765.025274,34.214785,-9.12904,38.71185,lisbon_weekdays,lisbon,weekdays
11313,1469,214.117811,Private room,False,True,2,False,0,0,10,...,0.685028,300.150265,10.229605,477.697634,10.515595,2.18765,41.40961,barcelona_weekdays,barcelona,weekdays

In [11]:
# unique city
dataset["city"].unique()

array(['amsterdam', 'athens', 'berlin', 'barcelona', 'budapest', 'lisbon',
       'london', 'paris', 'rome', 'vienna'], dtype=object)

In [12]:
dataset["weekday"].unique()

array(['weekdays', 'weekends'], dtype=object)

In [13]:
dataset['weekday'] = dataset['weekday'].map({'weekdays': 0, 'weekends': 1})
dataset.sample(10)

,index,Price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday
9347,787,162.428718,Private room,False,True,2,False,0,0,8,...,0.104217,81.472308,12.422066,111.088103,22.905606,13.42676,52.48052,berlin_weekdays,berlin,0
47185,3550,92.581769,Private room,False,True,2,False,1,0,10,...,0.166733,244.511727,5.417266,719.941315,15.685775,12.51846,41.91285,rome_weekends,rome,1
4104,2024,95.142127,Entire home/apt,False,False,3,False,1,0,10,...,0.399515,88.316770,3.329909,139.205635,10.452406,23.70840,37.98120,athens_weekdays,athens,0
49496,1326,273.473108,Entire home/apt,False,False,4,True,0,0,10,...,0.410311,118.083320,8.456623,176.872746,4.228271,16.34732,48.21692,vienna_weekdays,vienna,0
29900,2824,226.486982,Private room,False,True,2,False,0,1,10,...,0.712129,315.953638,21.963169,834.009582,14.927318,-0.07683,51.52580,london_weekends,london,1
24211,1749,135.704038,Private room,False,True,2,False,0,1,8,...,0.609591,378.536521,26.312494,677.692742,12.134654,-0.06554,51.51163,london_weekdays,london,0
28225,1149,396.763800,Private room,False,True,2,False,1,0,10,...,0.809573,165.527722,11.506477,343.796847,6.153365,-0.00761,51.50602,london_weekends,london,1
47388,3753,161.784303,Private room,False,True,2,False,1,0,10,...,2.311130,166.407347,3.686829,424.494020,9.248695,12.51122,41.85410,rome_weekends,rome,1
47569,3934,196.385570,Entire home/apt,False,False,4,True,0,0,10,...,2.041686,334.820741,7.418102,887.769768,19.342350,12.45943,41.88248,rome_weekends,rome,1
7742,382,220.388894,Entire home/apt,False,False,2,False,0,0,9,...,0.204796,90.745198,13.831437,139.795904,29.576564,13.45608,52.51441,berlin_weekends,berlin,1

In [14]:
# combining column room shared & room private
def get_room_type(row):
    if row['room_shared'] == 1:
        return 'shared'
    elif row['room_private'] == 1:
        return 'private'
    else:
        return 'entire_home'
    
dataset['room_type'] = dataset.apply(get_room_type, axis=1)
dataset["room_type"].unique()

array(['private', 'entire_home', 'shared'], dtype=object)

In [15]:
# removing the room_shared , room_private columns 
dataset = dataset.drop(["room_shared", "room_private"], axis=1)
dataset.sample(10)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday
25959,3497,639.008443,entire_home,4,True,1,0,10,92,1,...,0.207228,372.069179,25.862942,801.097372,14.344317,-0.16690,51.52178,london_weekdays,london,0
24667,2205,214.727534,private,2,False,1,0,9,92,1,...,0.281439,230.452393,16.019002,529.659363,9.483993,-0.20414,51.49294,london_weekdays,london,0
13863,1186,170.606758,entire_home,4,False,1,0,10,100,0,...,0.168441,160.857400,9.592683,264.108083,19.999077,19.07425,47.51175,budapest_weekdays,budapest,0
32181,5105,1054.587361,entire_home,6,False,0,1,10,100,2,...,0.318235,808.522928,56.203581,1817.599423,32.531863,-0.12407,51.51597,london_weekends,london,1
19731,175,199.108818,entire_home,2,False,1,0,10,92,0,...,0.562886,355.925129,11.739574,711.169353,39.969598,-9.12995,38.71381,lisbon_weekends,lisbon,1
42039,2896,145.185047,entire_home,3,False,1,0,9,84,1,...,1.210150,437.270387,9.689998,926.635588,20.175465,12.45346,41.89546,rome_weekdays,rome,0
32326,5250,161.574825,private,2,False,0,1,9,87,1,...,1.204054,208.251579,14.476379,397.820952,7.120302,-0.04546,51.48789,london_weekends,london,1
6412,1679,152.789820,entire_home,2,False,1,0,9,95,1,...,0.135018,202.553198,7.631746,234.649393,3.504240,23.72800,37.96400,athens_weekends,athens,1
18865,2166,96.388368,private,2,False,0,1,10,92,1,...,0.861899,164.372277,5.426634,557.704533,24.942628,-9.15368,38.70916,lisbon_weekdays,lisbon,0
50946,1038,126.218358,private,4,False,0,0,9,98,2,...,3.027201,32.641264,2.337552,42.505656,1.027345,16.45674,48.15850,vienna_weekends,vienna,1

In [16]:
# Instead of dummy variables, create a column where one can know if the host of the listing has only one, two to four, or more than four listings
dataset['host_listings_category'] = dataset['multi'].apply(
    lambda x: 'one' if x == 1 else ('two_to_four' if x <= 4 else 'more_than_four')
)
dataset.head(10)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday,host_listings_category
0,0,194.033698,private,2,False,1,0,10,93,1,...,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays,amsterdam,0,one
1,1,344.245776,private,4,False,0,0,8,85,1,...,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays,amsterdam,0,two_to_four
2,2,264.101422,private,2,False,0,1,9,87,1,...,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays,amsterdam,0,two_to_four
3,3,433.529398,private,4,False,0,1,9,90,2,...,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays,amsterdam,0,two_to_four
4,4,485.552926,private,2,True,0,0,10,98,1,...,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays,amsterdam,0,two_to_four
5,5,552.808567,private,3,False,0,0,8,100,2,...,174.788957,9.255191,225.201662,15.692376,4.87699,52.38966,amsterdam_weekdays,amsterdam,0,two_to_four
6,6,215.124317,private,2,False,0,0,10,94,1,...,200.167652,10.599010,242.765524,16.916251,4.91570,52.38296,amsterdam_weekdays,amsterdam,0,two_to_four
7,7,2771.307384,entire_home,4,True,0,0,10,100,3,...,208.808109,11.056528,272.313823,18.975219,4.88467,52.38749,amsterdam_weekdays,amsterdam,0,two_to_four
8,8,1001.804420,entire_home,4,False,0,0,9,96,2,...,106.226456,5.624761,133.876202,9.328686,4.86459,52.40175,amsterdam_weekdays,amsterdam,0,two_to_four
9,9,276.521454,private,2,False,1,0,10,88,1,...,206.252862,10.921226,238.291258,16.604478,4.87600,52.34700,amsterdam_weekdays,amsterdam,0,one

### Some basic initial inspections
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [17]:
# displaying first row
dataset.head(1)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday,host_listings_category
0,0,194.033698,private,2,False,1,0,10,93,1,...,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays,amsterdam,0,one

In [18]:
# last row
dataset.tail(1)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday,host_listings_category
51706,1798,133.230489,private,4,True,1,0,10,93,1,...,150.450381,10.774264,225.247293,5.44414,16.39066,48.20811,vienna_weekends,vienna,1,one

In [19]:
# random seven samples
dataset.sample(7)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday,host_listings_category
44680,1045,225.843406,private,3,True,0,1,10,93,1,...,408.973973,9.061000,967.587871,21.081392,12.47376,41.91556,rome_weekends,rome,1,two_to_four
48457,287,277.212912,entire_home,4,False,0,0,10,93,1,...,127.655597,9.142148,212.512494,5.080265,16.34414,48.19849,vienna_weekdays,vienna,0,two_to_four
35075,2620,243.265915,entire_home,2,False,0,0,9,90,0,...,352.990276,17.183448,568.177137,33.385825,2.27990,48.85662,paris_weekdays,paris,0,two_to_four
6483,1750,128.652778,private,4,False,0,1,10,98,1,...,226.176940,8.521836,296.586467,4.429204,23.72600,37.96500,athens_weekends,athens,1,two_to_four
34519,2064,241.867835,entire_home,3,True,0,0,10,99,0,...,262.749540,12.790559,696.556627,40.929345,2.37834,48.86835,paris_weekdays,paris,0,two_to_four
12941,264,101.048080,entire_home,2,True,0,1,10,96,1,...,211.021792,12.584221,261.710368,19.817514,19.02814,47.50677,budapest_weekdays,budapest,0,two_to_four
32610,155,473.949110,entire_home,2,False,0,1,10,100,1,...,533.498853,25.970544,1116.874271,65.627015,2.36090,48.85903,paris_weekdays,paris,0,two_to_four

In [20]:
# checking data types
dataset.dtypes

index                           int64
Price                         float64
room_type                      object
person_capacity                 int64
host_is_superhost                bool
multi                           int64
biz                             int64
cleanliness_rating              int64
guest_satisfaction_overall      int64
bedrooms                        int64
dist                          float64
metro_dist                    float64
attr_index                    float64
attr_index_norm               float64
rest_index                    float64
rest_index_norm               float64
lng                           float64
lat                           float64
sheet_name                     object
city                           object
weekday                         int64
host_listings_category         object
dtype: object

In [21]:
# display numeric summery
dataset.describe()

,index,Price,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,weekday
count,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.00000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000
mean,1620.502388,279.879591,3.161661,0.291353,0.350204,9.390624,92.628232,1.15876,3.191285,0.681540,294.204105,13.423792,626.856696,22.786177,7.426068,45.671128,0.506837
std,1217.380366,327.948386,1.298545,0.454390,0.477038,0.954868,8.945531,0.62741,2.393803,0.858023,224.754123,9.807985,497.920226,17.804096,9.799725,5.249263,0.499958
min,0.000000,34.779339,2.000000,0.000000,0.000000,2.000000,20.000000,0.00000,0.015045,0.002301,15.152201,0.926301,19.576924,0.592757,-9.226340,37.953000,0.000000
25%,646.000000,148.752174,2.000000,0.000000,0.000000,9.000000,90.000000,1.00000,1.453142,0.248480,136.797385,6.380926,250.854114,8.751480,-0.072500,41.399510,0.000000
50%,1334.000000,211.343089,3.000000,0.000000,0.000000,10.000000,95.000000,1.00000,2.613538,0.413269,234.331748,11.468305,522.052783,17.542238,4.873000,47.506690,1.000000
75%,2382.000000,319.694287,4.000000,1.000000,1.000000,10.000000,99.000000,1.00000,4.263077,0.737840,385.756381,17.415082,832.628988,32.964603,13.518825,51.471885,1.000000
max,5378.000000,18545.450285,6.000000,1.000000,1.000000,10.000000,100.000000,10.00000,25.284557,14.273577,4513.563486,100.000000,6696.156772,100.000000,23.786020,52.641410,1.000000

In [22]:
#getting statistics on categorical/object columns
obj_cols = dataset.select_dtypes(include='object').columns
print(f"This dataset has {len(obj_cols)} object columns:", list(obj_cols))

This dataset has 4 object columns: ['room_type', 'sheet_name', 'city', 'host_listings_category']

In [23]:
#detailed statistics on object data
for col in dataset.select_dtypes(include='object'):
    print(f"\nColumn: {col}")
    print("Count of non-null values:", dataset[col].count()) 
    print("Number of unique values:", dataset[col].nunique())
    print("Most frequent value:", dataset[col].value_counts().idxmax())
    print("Most frequent value (frequency):", dataset[col].value_counts().max())
    print("Least frequent value:", dataset[col].value_counts().idxmin())
    print("Least frequent value (frequency):", dataset[col].value_counts().min())

Column: room_type
Count of non-null values: 51707
Number of unique values: 3
Most frequent value: entire_home
Most frequent value (frequency): 32648
Least frequent value: shared
Least frequent value (frequency): 366

Column: sheet_name
Count of non-null values: 51707
Number of unique values: 20
Most frequent value: london_weekends
Most frequent value (frequency): 5379
Least frequent value: amsterdam_weekends
Least frequent value (frequency): 977

Column: city
Count of non-null values: 51707
Number of unique values: 10
Most frequent value: london
Most frequent value (frequency): 9993
Least frequent value: amsterdam
Least frequent value (frequency): 2080

Column: host_listings_category
Count of non-null values: 51707
Number of unique values: 2
Most frequent value: two_to_four
Most frequent value (frequency): 36642
Least frequent value: one
Least frequent value (frequency): 15065

In [26]:
dataset.to_csv("../additional_material/airbnb_dataset.csv", index=False)