# Airbnb Europe
<div style="
    border: 5px solid purple;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

### Libraries Loading
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data wrangling
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [2]:
url = "https://docs.google.com/spreadsheets/d/1ecopK6oyyb4d_7-QLrCr8YlgFrCetHU7-VQfnYej7JY/export?format=xlsx"
dataset = pd.ExcelFile(url, engine='openpyxl')

In [3]:
dataset = pd.concat([dataset.parse(sheet_name).assign(sheet_name = sheet_name) for sheet_name in dataset.sheet_names])
dataset.reset_index(inplace = True)

dataset.sheet_name

0        amsterdam_weekdays
1        amsterdam_weekdays
2        amsterdam_weekdays
3        amsterdam_weekdays
4        amsterdam_weekdays
                ...
51702       vienna_weekends
51703       vienna_weekends
51704       vienna_weekends
51705       vienna_weekends
51706       vienna_weekends
Name: sheet_name, Length: 51707, dtype: object

In [4]:
dataset.head(10)

,index,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name
0,0,0,194.033698,Private room,False,True,2,False,1,0,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,1,1,344.245776,Private room,False,True,4,False,0,0,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,2,2,264.101422,Private room,False,True,2,False,0,1,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,3,3,433.529398,Private room,False,True,4,False,0,1,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,4,4,485.552926,Private room,False,True,2,True,0,0,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays
5,5,5,552.808567,Private room,False,True,3,False,0,0,...,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376,4.87699,52.38966,amsterdam_weekdays
6,6,6,215.124317,Private room,False,True,2,False,0,0,...,1,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251,4.91570,52.38296,amsterdam_weekdays
7,7,7,2771.307384,Entire home/apt,False,False,4,True,0,0,...,3,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219,4.88467,52.38749,amsterdam_weekdays
8,8,8,1001.804420,Entire home/apt,False,False,4,False,0,0,...,2,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686,4.86459,52.40175,amsterdam_weekdays
9,9,9,276.521454,Private room,False,True,2,False,1,0,...,1,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478,4.87600,52.34700,amsterdam_weekdays

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51707 entries, 0 to 51706
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       51707 non-null  int64
 1   Unnamed: 0                  51707 non-null  int64
 2   realSum                     51707 non-null  float64
 3   room_type                   51707 non-null  object
 4   room_shared                 51707 non-null  bool
 5   room_private                51707 non-null  bool
 6   person_capacity             51707 non-null  int64
 7   host_is_superhost           51707 non-null  bool
 8   multi                       51707 non-null  int64
 9   biz                         51707 non-null  int64
 10  cleanliness_rating          51707 non-null  int64
 11  guest_satisfaction_overall  51707 non-null  int64
 12  bedrooms                    51707 non-null  int64
 13  dist                        51707 non-null  float64
 14  metro_dist                  51707 non-null  float64
 15  attr_index                  51707 non-null  float64
 16  attr_index_norm             51707 non-null  float64
 17  rest_index                  51707 non-null  float64
 18  rest_index_norm             51707 non-null  float64
 19  lng                         51707 non-null  float64
 20  lat                         51707 non-null  float64
 21  sheet_name                  51707 non-null  object
dtypes: bool(3), float64(9), int64(8), object(2)
memory usage: 7.6+ MB

In [7]:
# rename name
dataset.rename(columns={'realSum': 'Price'}, inplace=True)
dataset.head()

,index,Unnamed: 0,Price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name
0,0,0,194.033698,Private room,False,True,2,False,1,0,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,1,1,344.245776,Private room,False,True,4,False,0,0,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,2,2,264.101422,Private room,False,True,2,False,0,1,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,3,3,433.529398,Private room,False,True,4,False,0,1,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,4,4,485.552926,Private room,False,True,2,True,0,0,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays

In [8]:
# drop unnamed : 0 column in dataset
dataset = dataset.drop("Unnamed: 0", axis=1)
dataset.head()

,index,Price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name
0,0,194.033698,Private room,False,True,2,False,1,0,10,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,1,344.245776,Private room,False,True,4,False,0,0,8,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,2,264.101422,Private room,False,True,2,False,0,1,9,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,3,433.529398,Private room,False,True,4,False,0,1,9,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,4,485.552926,Private room,False,True,2,True,0,0,10,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays

In [9]:
dataset[['city', 'weekday']] = dataset["sheet_name"].str.split('_', expand = True)

dataset.sample(10)

,index,Price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday
16599,1848,168.021808,Entire home/apt,False,False,4,False,0,1,10,...,0.247697,119.365380,7.124194,211.408028,18.480856,19.05064,47.47788,budapest_weekends,budapest,weekends
42122,2979,99.127955,Private room,False,True,2,True,1,0,10,...,0.448671,324.263324,7.185739,806.618593,17.562358,12.48701,41.87373,rome_weekdays,rome,weekdays
14976,225,134.417446,Entire home/apt,False,False,3,False,0,0,8,...,0.167046,194.426523,11.604138,673.529617,58.878578,19.06910,47.49804,budapest_weekends,budapest,weekends
47777,4142,208.075188,Entire home/apt,False,False,4,False,0,1,10,...,1.787985,589.308665,13.056395,2747.331857,59.857696,12.46922,41.89135,rome_weekends,rome,weekends
49905,1735,251.501765,Entire home/apt,False,False,2,False,0,0,8,...,0.100844,204.967222,14.678876,342.177253,8.179995,16.38070,48.20296,vienna_weekdays,vienna,weekdays
1875,772,539.216835,Private room,False,True,3,True,1,0,10,...,0.582055,99.661197,5.276604,124.359026,10.841122,4.82587,52.35903,amsterdam_weekends,amsterdam,weekends
37306,1721,382.374872,Entire home/apt,False,False,3,False,0,0,7,...,0.075529,296.001073,14.393074,755.307403,34.844092,2.36204,48.87901,paris_weekends,paris,weekends
43721,86,92.114184,Private room,False,True,2,False,1,0,10,...,0.132506,411.259441,9.111635,954.125810,20.788087,12.50800,41.89100,rome_weekends,rome,weekends
12816,139,154.392067,Entire home/apt,False,False,4,True,1,0,10,...,0.445795,262.231468,15.638095,502.237767,38.030989,19.05622,47.50739,budapest_weekdays,budapest,weekdays
21407,1851,235.928705,Entire home/apt,False,False,4,False,1,0,10,...,0.379378,122.049440,4.025589,371.747671,20.893202,-9.13607,38.73031,lisbon_weekends,lisbon,weekends

In [10]:
# unique city
dataset["city"].unique()

array(['amsterdam', 'athens', 'berlin', 'barcelona', 'budapest', 'lisbon',
       'london', 'paris', 'rome', 'vienna'], dtype=object)

In [11]:
dataset["weekday"].unique()

array(['weekdays', 'weekends'], dtype=object)

In [12]:
dataset['weekday'] = dataset['weekday'].map({'weekdays': 0, 'weekends': 1})
dataset.sample(10)

,index,Price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday
16483,1732,125.252620,Entire home/apt,False,False,4,True,1,0,10,...,0.616882,104.114427,6.213958,184.588510,16.136349,19.05500,47.47500,budapest_weekends,budapest,1
31489,4413,698.511254,Entire home/apt,False,False,4,False,1,0,9,...,0.039162,478.289138,33.247743,789.305192,14.127188,-0.13386,51.48956,london_weekends,london,1
770,770,647.482014,Entire home/apt,False,False,3,False,0,1,10,...,0.568921,343.360107,18.181146,402.133500,28.021241,4.90917,52.37256,amsterdam_weekdays,amsterdam,0
46538,2903,286.629416,Entire home/apt,False,False,6,True,1,0,9,...,0.287571,552.835200,12.248309,1341.869801,29.236088,12.50171,41.89909,rome_weekends,rome,1
6786,2053,254.962154,Entire home/apt,False,False,4,True,0,0,10,...,0.591577,167.502738,6.311124,190.078739,2.838624,23.71993,37.96521,athens_weekends,athens,1
30888,3812,104.894283,Private room,False,True,2,False,0,0,10,...,0.359237,147.509065,10.253930,323.029251,5.781661,-0.24239,51.51745,london_weekends,london,1
26535,4073,582.092711,Entire home/apt,False,False,6,False,0,0,10,...,2.975397,110.743425,7.697898,235.072756,4.209174,-0.12795,51.41744,london_weekdays,london,0
13127,450,234.525544,Entire home/apt,False,False,4,False,1,0,10,...,0.672250,177.252156,10.570379,215.265850,16.300592,19.03031,47.51166,budapest_weekdays,budapest,0
29608,2532,158.517369,Private room,False,True,3,False,1,0,9,...,0.554968,409.258266,28.449138,652.766713,11.683387,-0.06895,51.50192,london_weekends,london,1
42879,3736,125.780282,Private room,False,True,2,True,0,0,10,...,0.731340,341.747278,7.573187,914.014379,19.900666,12.51314,41.89491,rome_weekdays,rome,0

In [13]:
# combining column room shared & room private
def get_room_type(row):
    if row['room_shared'] == 1:
        return 'shared'
    elif row['room_private'] == 1:
        return 'private'
    else:
        return 'entire_home'
    
dataset['room_type'] = dataset.apply(get_room_type, axis=1)
dataset["room_type"].unique()

array(['private', 'entire_home', 'shared'], dtype=object)

In [14]:
# removing the room_shared , room_private columns 
dataset = dataset.drop(["room_shared", "room_private"], axis=1)
dataset.sample(10)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday
7378,18,143.731887,private,2,False,0,0,9,91,1,...,0.235625,171.955305,26.209530,187.260342,39.618596,13.36538,52.49970,berlin_weekends,berlin,1
12501,1102,97.283962,private,2,False,0,0,9,95,1,...,0.802124,156.312997,6.035425,268.623574,5.900757,2.18524,41.43326,barcelona_weekends,barcelona,1
29563,2487,193.325337,private,2,False,0,0,10,100,1,...,5.315506,124.898247,8.682164,255.329855,4.569960,-0.04651,51.44124,london_weekends,london,1
44360,725,262.782596,entire_home,4,False,0,0,9,90,2,...,0.408167,908.254922,20.122790,1650.640544,35.963453,12.48885,41.89592,rome_weekends,rome,1
4007,1927,463.759286,entire_home,3,False,0,1,10,100,1,...,0.288467,500.828296,18.883308,456.400644,34.269338,23.72624,37.97357,athens_weekdays,athens,0
16104,1353,199.276214,entire_home,4,True,1,0,10,97,1,...,0.076624,207.956014,12.411631,547.711786,47.879842,19.06094,47.48924,budapest_weekends,budapest,1
10313,469,214.117811,private,2,False,0,0,9,89,1,...,0.232875,358.598887,12.221628,797.540139,17.556313,2.16156,41.37286,barcelona_weekdays,barcelona,0
29013,1937,534.584539,entire_home,2,False,0,1,10,100,1,...,0.217030,177.282485,12.323597,371.152955,6.642991,0.00630,51.50155,london_weekends,london,1
37411,1826,324.354553,entire_home,2,False,1,0,7,90,1,...,0.264645,380.553177,18.504426,1013.827274,46.770216,2.35743,48.87018,paris_weekends,paris,1
1726,623,319.640053,private,2,True,0,0,10,96,1,...,0.763698,139.739476,7.398565,183.439495,15.991521,4.84509,52.35752,amsterdam_weekends,amsterdam,1

In [15]:
# Instead of dummy variables, create a column where one can know if the host of the listing has only one, two to four, or more than four listings
dataset['host_listings_category'] = dataset['multi'].apply(
    lambda x: 'one' if x == 1 else ('two_to_four' if x <= 4 else 'more_than_four')
)
dataset.head(10)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday,host_listings_category
0,0,194.033698,private,2,False,1,0,10,93,1,...,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays,amsterdam,0,one
1,1,344.245776,private,4,False,0,0,8,85,1,...,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays,amsterdam,0,two_to_four
2,2,264.101422,private,2,False,0,1,9,87,1,...,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays,amsterdam,0,two_to_four
3,3,433.529398,private,4,False,0,1,9,90,2,...,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays,amsterdam,0,two_to_four
4,4,485.552926,private,2,True,0,0,10,98,1,...,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays,amsterdam,0,two_to_four
5,5,552.808567,private,3,False,0,0,8,100,2,...,174.788957,9.255191,225.201662,15.692376,4.87699,52.38966,amsterdam_weekdays,amsterdam,0,two_to_four
6,6,215.124317,private,2,False,0,0,10,94,1,...,200.167652,10.599010,242.765524,16.916251,4.91570,52.38296,amsterdam_weekdays,amsterdam,0,two_to_four
7,7,2771.307384,entire_home,4,True,0,0,10,100,3,...,208.808109,11.056528,272.313823,18.975219,4.88467,52.38749,amsterdam_weekdays,amsterdam,0,two_to_four
8,8,1001.804420,entire_home,4,False,0,0,9,96,2,...,106.226456,5.624761,133.876202,9.328686,4.86459,52.40175,amsterdam_weekdays,amsterdam,0,two_to_four
9,9,276.521454,private,2,False,1,0,10,88,1,...,206.252862,10.921226,238.291258,16.604478,4.87600,52.34700,amsterdam_weekdays,amsterdam,0,one

### Some basic initial inspections
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [16]:
# displaying first row
dataset.head(1)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday,host_listings_category
0,0,194.033698,private,2,False,1,0,10,93,1,...,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays,amsterdam,0,one

In [17]:
# last row
dataset.tail(1)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday,host_listings_category
51706,1798,133.230489,private,4,True,1,0,10,93,1,...,150.450381,10.774264,225.247293,5.44414,16.39066,48.20811,vienna_weekends,vienna,1,one

In [18]:
# random seven samples
dataset.sample(7)

,index,Price,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,...,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,sheet_name,city,weekday,host_listings_category
5362,629,81.081714,entire_home,3,False,0,0,10,97,1,...,61.557109,2.319333,90.792380,1.355888,23.72508,38.00006,athens_weekends,athens,1,two_to_four
34551,2096,242.566875,entire_home,2,True,0,0,10,97,1,...,201.984719,9.832548,545.241326,32.038128,2.39450,48.85010,paris_weekdays,paris,0,two_to_four
10089,245,202.480974,private,2,True,0,0,10,95,1,...,286.744618,9.772719,639.620659,14.080019,2.14441,41.39794,barcelona_weekdays,barcelona,0,two_to_four
21631,2075,308.864916,entire_home,6,False,0,1,9,91,2,...,139.958082,4.616275,437.172881,24.570272,-9.15779,38.70928,lisbon_weekends,lisbon,1,two_to_four
3857,1777,134.745624,entire_home,4,False,0,1,10,100,1,...,101.521642,3.827788,140.433321,10.544588,23.75072,37.97991,athens_weekdays,athens,0,two_to_four
22109,2553,253.283302,entire_home,4,True,0,1,10,100,1,...,252.995606,8.344622,560.188644,31.484083,-9.13140,38.71813,lisbon_weekends,lisbon,1,two_to_four
33867,1412,318.762233,entire_home,2,False,0,1,9,76,1,...,302.167891,14.709431,815.825639,47.937537,2.37000,48.87000,paris_weekdays,paris,0,two_to_four

In [19]:
# checking data types
dataset.dtypes

index                           int64
Price                         float64
room_type                      object
person_capacity                 int64
host_is_superhost                bool
multi                           int64
biz                             int64
cleanliness_rating              int64
guest_satisfaction_overall      int64
bedrooms                        int64
dist                          float64
metro_dist                    float64
attr_index                    float64
attr_index_norm               float64
rest_index                    float64
rest_index_norm               float64
lng                           float64
lat                           float64
sheet_name                     object
city                           object
weekday                         int64
host_listings_category         object
dtype: object

In [20]:
# display numeric summery
dataset.describe()

,index,Price,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,weekday
count,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.00000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000
mean,1620.502388,279.879591,3.161661,0.291353,0.350204,9.390624,92.628232,1.15876,3.191285,0.681540,294.204105,13.423792,626.856696,22.786177,7.426068,45.671128,0.506837
std,1217.380366,327.948386,1.298545,0.454390,0.477038,0.954868,8.945531,0.62741,2.393803,0.858023,224.754123,9.807985,497.920226,17.804096,9.799725,5.249263,0.499958
min,0.000000,34.779339,2.000000,0.000000,0.000000,2.000000,20.000000,0.00000,0.015045,0.002301,15.152201,0.926301,19.576924,0.592757,-9.226340,37.953000,0.000000
25%,646.000000,148.752174,2.000000,0.000000,0.000000,9.000000,90.000000,1.00000,1.453142,0.248480,136.797385,6.380926,250.854114,8.751480,-0.072500,41.399510,0.000000
50%,1334.000000,211.343089,3.000000,0.000000,0.000000,10.000000,95.000000,1.00000,2.613538,0.413269,234.331748,11.468305,522.052783,17.542238,4.873000,47.506690,1.000000
75%,2382.000000,319.694287,4.000000,1.000000,1.000000,10.000000,99.000000,1.00000,4.263077,0.737840,385.756381,17.415082,832.628988,32.964603,13.518825,51.471885,1.000000
max,5378.000000,18545.450285,6.000000,1.000000,1.000000,10.000000,100.000000,10.00000,25.284557,14.273577,4513.563486,100.000000,6696.156772,100.000000,23.786020,52.641410,1.000000

In [21]:
#getting statistics on categorical/object columns
obj_cols = dataset.select_dtypes(include='object').columns
print(f"This dataset has {len(obj_cols)} object columns:", list(obj_cols))

This dataset has 4 object columns: ['room_type', 'sheet_name', 'city', 'host_listings_category']

In [22]:
#detailed statistics on object data
for col in dataset.select_dtypes(include='object'):
    print(f"\nColumn: {col}")
    print("Count of non-null values:", dataset[col].count()) 
    print("Number of unique values:", dataset[col].nunique())
    print("Most frequent value:", dataset[col].value_counts().idxmax())
    print("Most frequent value (frequency):", dataset[col].value_counts().max())
    print("Least frequent value:", dataset[col].value_counts().idxmin())
    print("Least frequent value (frequency):", dataset[col].value_counts().min())

Column: room_type
Count of non-null values: 51707
Number of unique values: 3
Most frequent value: entire_home
Most frequent value (frequency): 32648
Least frequent value: shared
Least frequent value (frequency): 366

Column: sheet_name
Count of non-null values: 51707
Number of unique values: 20
Most frequent value: london_weekends
Most frequent value (frequency): 5379
Least frequent value: amsterdam_weekends
Least frequent value (frequency): 977

Column: city
Count of non-null values: 51707
Number of unique values: 10
Most frequent value: london
Most frequent value (frequency): 9993
Least frequent value: amsterdam
Least frequent value (frequency): 2080

Column: host_listings_category
Count of non-null values: 51707
Number of unique values: 2
Most frequent value: two_to_four
Most frequent value (frequency): 36642
Least frequent value: one
Least frequent value (frequency): 15065